section.section-content {
  min-height: 100%;
}
section.section-registration{
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: url("../img/bg-register.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
section.section-financial {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: url("../img/bg-financial.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
section.section-management {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: url("../img/bg-management.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

section.section-content h1 {
  font-size: 2.25rem;
}
@media (min-width: 992px) {
  section.section-content {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  section.section-content p {
    font-size: 1.15rem;
  }
  section.section-content h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  section.section-content h1 {
    font-size: 3.5rem;
  }
}


.box-information {
  max-width: 400px;
  color: #fff;
}
.box-information a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9em;
}
@media (min-width: 992px) {
  .box-information {
    max-width: 500px;
  }
}

.card-login {
  background: #3A3D47;
  max-width: 400px;
  /* text-shadow: 2px 1px 2px rgba(0,0,0,0.17); */
  position:relative;
  margin-left: auto;
  -webkit-box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.35);
  -moz-box-shadow:    1px 1px 6px 0px rgba(50, 50, 50, 0.35);
  box-shadow:         1px 1px 6px 0px rgba(50, 50, 50, 0.35);
}
@media (min-width: 992px) {
  .card-login {
    max-width: 500px;
  }
}
.card-login .card-header {
  background: transparent;
  color: #fff;
  border-color: #fff;
  text-align: center;
}
.card-login .card-header h3 {
  font-size: 1.4em;
  font-weight: 700;
}
@media (min-width: 992px) {
  .card-login .card-header h3 {
    font-size: 2.5em;
  }
}
.m-form.m-form-login {
  color: #fff;
}

.m-form.m-form-login {
  color: #fff;
}
.m-form.m-form-login input {
  background: transparent;
  border: 1px solid #fff;
  -webkit-box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.35);
  -moz-box-shadow:    1px 1px 6px 0px rgba(50, 50, 50, 0.35);
  box-shadow:         1px 1px 6px 0px rgba(50, 50, 50, 0.35);
}
.m-form.m-form-login .form-control {
  color: #fff!important;
}
.m-form.m-form-login button {
  background: #fff;
  color: #1b1e21;
  border: none;
  font-weight: 700;
}

section.section-registration .m-form.m-form-login small a {
  color: #fff;
}


section.section-financial .card-login {
  -webkit-box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.35);
  -moz-box-shadow:    1px 1px 6px 0px rgba(50, 50, 50, 0.35);
  box-shadow:         1px 1px 6px 0px rgba(50, 50, 50, 0.35);
}
section.section-financial .card-login .card-header {
  background: transparent;
  color: #2f3850;
  border-color: #2f3850;
  text-align: center;
}
section.section-financial .card-login {
  background: #fff;
}
section.section-financial .m-form.m-form-login {
  color: #2f3850;
}
section.section-financial .m-form.m-form-login .form-control {
  color: #2f3850!important;
}
section.section-financial .m-form.m-form-login  input {
  background: transparent;
  border: 1px solid #c0c7d6;
  box-shadow: none;
}
section.section-financial .m-form.m-form-login button {
  background: #4E73DF;
  color: #fff;
  border: none;
  font-weight: 700;
}
section.section-financial .m-form.m-form-login small a {
  color: #4E73DF;
}

section.section-management .card-login {
  background: linear-gradient(120deg, rgba(83,105,118,1) 0%, rgba(57,61,83,1) 60%);
}
section.section-management .m-form.m-form-login button {
  background: rgb(242,92,5);
  background: linear-gradient(90deg, rgba(242,92,5,1) 34%, rgba(242,5,5,1) 94%);
  color: #fff;
  border: none;
  font-weight: 700;
}
section.section-management .m-form.m-form-login small a {
  color: #fff;
}

.password-icon {
  position: absolute;
  right: 10px;
  top: 18px;
  z-index: 999;
}